@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  input[type="number"].no-arrow::-webkit-inner-spin-button,
  input[type="number"].no-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}